<figure class="card">
  <img class="card__image" src="{%IMAGE%}" alt="image of dog" />
  <div class="card-title">
    <h2 class="card__dogBreed">%DOGBREED%</h2>
  </div>
  <div class="card__details">
    <p class="card__origin">{%ORIGIN%}</p>
    <p class="card__otherNames">{%OTHER_NAMES%}</p>
    <p class="card__temperament">{%TEMPERAMENT%}</p>
    <p class="card__demeanor">{%DEMEANOR%}</p>
    <p class="card__familyDog">{%FAMILY_DOG%}</p>
    <p class="card__cost">{%COST%}</p>
    <p class="card__description">{%CARD_DESCRIPTION%}</p>
  </div>
  <a class="card__link" href="/puppy?id={%ID%}">
    <span>Detail <i class="emoji-right">🦮</i></span>
  </a>
</figure>
